# Application
APP_NAME=nest-db-conn
APP_VERSION=0.1.0

# Server 
SERVER_ADDRESS=0.0.0.0
SERVER_PORT=3000
# SERVER_CONTEXT=nest-db-conn

# Debugging
ENABLE_DEBUGGING=true
 
# File Logging
ENABLE_LOGGING=true
FILE_LOG_PATH=./src/storage/logs

# Redis Database
REDIS_HOST=localhost
REDIS_PORT=6379

# Database Connection 
DATABASE_URL=postgresql://postgres:i@mRoot@dmiN@127.0.0.1:5432/web-portal

# Swagger
SWAGGER_ENABLED=true
SWAGGER_TITLE=AdmiralUdon Core Service
SWAGGER_DESCRIPTION=Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
SWAGGER_VERSION=${APP_VERSION}